


/* whole page */

/* top of page*/
h6, h3{
  color:white;
}
h6 {
  padding-left: 15px;
}
.top-of-page {
  background: #2b2e36;
  width: 100%;
  height: 100%;
}


.top-left{

}

.nav {

  padding: 15px;
  list-style-type: none;
  text-align: left;

}

.nav li {

  display: inline-flex;
  font-size: px 25
  padding-left: 20px;
  padding-right: 20px;
  width: 50px;
}

.nav li a {
  color: white;
  text-decoration:none;
}

.flex-container{
  display: inline
  flex-direction:column;
  width: 400px;
  height: 30px;
}

.flex-container ul  div li {
  border: 20px solid transparent
}
.right {
  position:absolute;
  right: 40px;
  top: 80px;
}
/* nav bar ends here */



.flex-container-columns-holder {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(240,240,240);
/* background-color: #f1f1f1;
 margin: 10px;
 padding: 20px; */


}
/* done done */
/* ............................................... */


  /*body of page*/

.column{


}


.column div {


}


/*........ size of picture in the div.............. */

  img {
   width: 100%;
   height: 100%;
 }

 /*......... whats holds the image together.... */

      .image-container {

          margin: 15px;
          flex: 1 250px;
          padding:0;
          object-fit: contain;
          display: inline-block;
        }






/* ...........bottom og picture info.........   */
  .info-container p {

    /* padding:0px; */
    top 40%;
    padding-left: 20px;
    color: gray

}


/* ....... subtitle under pictures .......... */
.info-container {
background-color: white;




}

  .info-container strong{
    padding-left: 20px;
    color: gray;
}


info-container strong p{
  margin-bottom:  0px
}

/* ........right bar/ nav ................ */


  .right-container ul{
    display: flex;
    flex-direction: column;
    padding: 15px;
    list-style-type: none;
    text-align: left;
    border: 20px solid transparent

  }


  .column-right {

    background-color: #D3D3D3 ;
  }





  .right-container ul li a {
    color: white;
    text-decoration:none;
  }





/*
trashhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
............................................. */





  /* display: flex;
 flex-direction: column;
 color: green;
 flex: 1; */






/*{
  /*width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px; */




}
